.about-container {
    text-align: center;
    padding-bottom: 40px; /* Adds padding to the bottom of the container */
    max-width: 800px; /* Limit the width for better readability */
    margin: 0 auto; /* Center the container */
    font-family: 'Georgia', serif; /* More elegant font for text */
  }
  
  h1 {
    font-size: 2.5rem; /* Make the title stand out */
    margin-bottom: 20px;
    color: #333; /* Darker color for the heading */
  }
  
  p {
    font-size: 1rem;
    line-height: 1.6; /* Improve line spacing for readability */
    margin-bottom: 20px; /* Add space between paragraphs */
    color: #555; /* Softer text color */
    text-align: left; /* Align text left for better readability */
    padding: 0 20px; /* Padding on the sides to avoid text touching edges */
  }
  
  .image-container {
    margin: 20px 0;
  }
  
  .about-image {
    width: 80%; /* Reduce to 80% of the container width */
    max-width: 500px; /* Set the maximum width to 500px */
    margin: 0 auto;
  }
  
  .image-attribution {
    font-size: 0.875rem;
    color: #777;
  }
  
  .image-attribution a {
    color: #007bff;
    text-decoration: none;
  }
  
  .image-attribution a:hover {
    text-decoration: underline;
  }

  
  
  /* Footer */
  .footer {
    background-color: #f1f1f1; /* Light background color */
    padding: 20px 0;
    margin-top: 40px; /* Add space above the footer */
    text-align: center;
    font-size: 0.875rem;
    color: #555;
  }
  